body
{
    font-family: "Microsoft YaHei", SimSun, Courier, monospace;
    font-size: 100%;
}


nav
{
    transition: padding 300ms ease;
    padding: 1rem;
}

.navbar-sticky
{
    /*transition: padding 300ms ease;*/
    padding: 1.2rem;
    font-size: 1.2rem;
}

.slogan-bg
{
    background-image: url("../images/slogan-bg.png") !important;
    background-repeat: repeat;
    background-position:  center;
    background-attachment: fixed;
}

.home-post
{
    padding: 1rem 1rem 1rem;
    margin-bottom: 1rem;
    background-color: #e9ecef;
    border-radius: .5em;
}

.home-post-title
{

}

.home-post-content
{

}

.home-post-meta-item
{
    margin-right: .5rem;
}

