body
{
    font-family: "Microsoft YaHei", SimSun, Courier, monospace;
    font-size: 100%;
}

.navbar-padding {
    padding-left: 10rem !important;
    padding-right: 10rem !important;

}

.slogan-bg
{
    background-image: url("../images/slogan-bg.png") !important;
    background-repeat: no-repeat;
    background-position:  center;
    background-attachment: fixed;
}

.home-post
{
    padding: 2rem 2rem 2rem;
    margin-bottom: 1rem;
    background-color: #e9ecef;
    border-radius: .5em;
}

.home-post-title
{

}

.home-post-content
{

}

.home-post-meta-item
{
    margin-right: .5rem;
}

.home-post-share
{
    font-size: 2rem;
    position: absolute;
    right: 1rem;
    top: 0;
    cursor: pointer;
}