body
{
    font-family: "Microsoft YaHei", SimSun, Courier, monospace;
    font-size: 100%;
}


nav
{
    transition: padding 300ms ease;
    padding: 1rem;
}

.navbar-sticky
{
    /*transition: padding 300ms ease;*/
    padding: 0.8rem;
    font-size: 1.2rem;
}

.punkcoder-navbar
{

}

.punkcoder-footer
{
    background-color: #000000;
    color: #FFFFFF;
}

.punkcoder-footer-item
{
    margin: 1rem;
}

.punkcoder-footer-item > a
{
    color: #BDBDBD;
}

.slogan-bg
{
    background-image: url("../images/slogan-bg.png") !important;
    background-repeat: repeat;
    background-position:  center;
    background-attachment: fixed;
}

.home-post
{
    padding: 1rem 1rem 1rem;
    margin-bottom: 1rem;
    background-color: #f8f9fa;
    border-radius: .5em;
    font-size: 1rem;
}

.home-post-title
{
    font-size: 1.6rem;
}

.home-post-content
{

}

.home-post-meta
{
    font-size: .5rem;
}

.home-post-meta-item
{
    margin-right: .5rem;
}

.home-post-pagination
{

}


.punkcoder-sidebar
{
    background-color: #f8f9fa;
    border-radius: .5em;
    padding: 1rem;
}

.punkcoder-sidebar-profile
{
    margin: 0;
    padding: 0;
}

.punkcoder-sidebar-profile-avatar
{
    /*margin:0 8rem;*/
}

.punkcoder-sidebar-profile-item
{
    margin-top: 1rem;
}

.punkcoder-sidebar-profile-item-social
{
    margin-top: 1rem;
    cursor: pointer;
}

.punkcoder-sidebar-profile-item-social > a
{
    color: #212121;
}
